@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

a, a:hover, a:link, a:active {
  text-decoration: none;
}

body {
  margin: 0px;
  padding: 0px;
  background: #fff;
  color: #000;
  font-family: "Fira Sans", sans-serif;
}

@media screen and (max-width: 600px) {
  .section-header {
    flex-direction: column;
  }
  .section-header-left {
    padding-left: 0px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
  }
  .section-header-right {
    width: 100%;
  }
  .section-header-right img {
    max-width: 80%;
    height: auto;
  }

  .header-menu {
    display: none;
    flex-direction: column;
  }
  .header-search {
    display: none;
  }

  .blog-title {
    text-align: center;
  }

  .blog-posts{
    flex-direction: column;
    align-items: center;
  }

  .blog-posts > div{
    margin-bottom: 20px;
    width: 100%;
  }

  .blog-posts-post img{
    max-width: 100% !important;
    width: 100%;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.blog-view-content p {
  line-height: 1.5;
}

.blog-view-content li {
  line-height: 1.5;
  margin: 10px 0px;
}

.header-search {
  padding: 0px 15px;
}
.header-menu {
  display: flex;
  justify-content: space-between;
}
.header-menu-item {
  margin: 0px 30px;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
}
.header-menu-item::after {
  content: "";
  width: 100%;
  border-bottom: 3px solid #fff;
}

.current {
  font-weight: 900;
}
.current::after {
  border-color: #171717;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-header-title {
  font-size: 40px;
  font-weight: 700;
}
.section-header-left {
  padding-left: 5%;
}
.section-header-left-description {
  font-size: 25px;
  line-height: 35px;
}
.section-header-left-btn {
  background: #005bc2;
  padding: 15px 20px;
  box-sizing: border-box;
  display: flex;
  max-width: 200px;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  border-radius: 50px;
  margin-top: 20px;
}
.section-header-left > div {
  max-width: 500px;
  margin-top: 15px;
}
.section-header-right {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.blog-title {
    padding: 10px 20px;
    font-size: 40px;
}

.blog-posts {
    display: flex;
    padding: 10px 20px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
}

.blog-posts-post {
    background: #efefef;
    cursor: pointer;
    border-radius: 10px;
}

.blog-posts-post img {
    border-radius: 10px 10px 0px 0px;
    max-width: 300px;
    width: 100%;
}

.blog-view {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  max-width: 500px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  background: #fff;
  z-index: 50000;
  border-right: 1px solid #dededede;
  height: 100%;
  overflow: auto;
}

.blog-view-into {
  max-width: 500px;
  width: 100%;
}

.blog-view-into img {
  width: 100%;
  height: auto;
}

.blog-view-title {
  font-size: 30px;
  padding: 15px 0px;
  font-weight: bold;
}

h2 {
  font-size: 2em;
}

.blog-into-close {
  top: 20px;
  left: 35px;
  position: absolute;
}